body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    justify-items: center;
    background-image: linear-gradient(to bottom, #04d9c4, #00a5bd, #0070a8, #003c7f, #090646);
    
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    background-color: #52c3bf;
    box-sizing: border-box;
}
header img{
    height: 50px;
}
main{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }
footer{
    background-color: #090646;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
footer a{
    margin: 10px;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
@media only screen and (min-width:400px){
    footer{
        display: flex;
        flex-direction: row;
    }
}